<% if message.message_sent?(current_user) %>
  <div id="message-sent" class="msg messageSent">
    <i style="color:green;font-size:14px;"><strong><%= message.user.get_user_type.full_name %></strong></i>
    <p style="color:medium-grey;font-size:16px;font-family:verdana"><%= message.content %></p>
    <i style="color:grey;font-size:12px;"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    <i class="fa-solid fa-check-double"></i>
	</div>

<% else %>

	<div id="message-received" class="msg messageReceived">
    <i style="color:grey;font-size:14px;"><strong><%= message.user.get_user_type.full_name %></strong></i>
    <p style="color:medium-grey;font-size:16px;font-family:verdana"><%= message.content %></p>
    <i style="color:grey;font-size:12px;"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
	</div>

<% end %>
