<h2>Créer votre Compte</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password, :label => 'Mot de Passe',
                required: true,
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, :label => 'Confirmation de Mot de Passe',
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Créer mon compte" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
