<div class="m-4">
  <a class="navbar-brand" href="#">
    <%# <span><strong>COJARI</strong></span> %>
    <%= link_to root_path, class: "navbar-brand mt-2 mt-lg-0 fw-bold features-p" do %>
    <%= image_tag "logopurple.png" %>
    <% end %>
  </a>
</div>
<div class="" style="position: absolute; bottom: 0; right: 32px;">
  <%= image_tag "Login-svg1.svg" %>
</div>

<div class="" style="position: absolute; bottom: 0; left: 32px;">
  <%= image_tag "login-svg2.svg" %>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white-trans-low blur b-radius p-4 shadow">

        <h5 class="center-txt features-h fw-bold pb-3">S'inscrire</h5>
        <h6 class="text-muted h8"><em>En tant que Syndic. Si vous êtes un habitant, veuillez contacter votre syndic pour créer un compte.</em></h6>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, :label => 'Adresse e-mail',
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password, :label => 'Mot de Passe',
                        required: true,
                        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, :label => 'Confirmation de Mot de Passe',
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions d-flex">
            <%= f.button :submit, "Créer mon compte", class: "btn btn-default btn-primary flex-grow-1 fw-semibold mb-2" %>
          </div>
          <div class="d-flex justify-content-center">
            <span>Vous avez déjà un compte?&nbsp;</span><%= link_to "Se connecter", new_session_path(resource_name), class: "fw-semibold" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
