
<%# <h1>Mes Propriétaires</h1> %>
<div class="d-flex justify-content-around mt-5 container">
    <% @owners.each do |owner| %>
      <div class="notification">
      <% if !owner.photo.key.nil? %>
        <%= cl_image_tag owner.photo.key, class: "avatar-large" %>
      <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80", class: "avatar-large" %>
      <% end %>
      <div class="notification-content">
       <p><strong><%= owner.full_name %></strong></p>
        <ul>
          <li>Genre: <%= owner.gender %></li>
          <li>Date de Naissance: <%= owner.birth_date %></li>
          <li>Numéro de téléphone: <%= owner.phone_number %></li>
          <li>e-mail: <%= owner.user.email %></li>
          <li>CIN: <%= owner.card_number %></li>
          <li>Propriétaire depuis: <%= owner.ownership_date %></li>
        </ul>
      </div>

      <div class="notification-actions">
        <a href="#"><i class="fas fa-pencil-alt"></i></a>
        <a href="#"><i class="far fa-trash-alt"></i></a>
      </div>
    </div>
    <% end %>
  </div>
