<div class="container mt-5 d-flex justify-content-end align-items-center">
  <%# <h1 class="owner-main-title fw-semibold text-left fade-font property-title txt-raleway p-0">Mes Propriétaires</h1> %>
  <%= link_to "Nouveau Propriétaire",  new_owner_path(), class: "btn btn-primary fw-semibold me-5" if current_user.is_syndic? %>
</div>
<div class="d-flex justify-content-center mt-5 container flex-wrap">
    <% @owners.each do |owner| %>
      <div class="notification shadow p-4 owner-photo">
      <% if !owner.photo.key.nil? %>
        <%= cl_image_tag owner.photo.key %>
      <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" %>
      <% end %>
      <div class="notification-content">
       <h4 class="ms-3"><strong><%= owner.full_name %></strong></h4>
        <ul class="list-unstyled mt-2 ms-3 owner-icons">
          <li>
            <i class="fa-solid fa-venus-mars"></i> <%= owner.gender %>
          </li>
          <li>
            <i class="fa-solid fa-cake-candles"></i> <%= owner.birth_date %>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i> <%= owner.phone_number %>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i> <%= owner.user.email %>
          </li>
          <% if current_user.is_syndic? %>
            <li>
              <i class="fa-solid fa-address-card"></i> <%= owner.card_number %>
            </li>
          <% end %>
          <li>
            <i class="fa-solid fa-calendar-days"></i> <%= owner.ownership_date %>
          </li>
        </ul>
      </div>

      <div class="notification-actions flex-wrap align-content-start">
        <% if current_user.is_syndic? %>
        <a href="#"><i class="fas fa-pencil-alt"></i></a>
        <a href="#"><i class="far fa-trash-alt"></i></a>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>

<%# pour plusieurs espaces : %>
<%# &nbsp; %>
