<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <%# <img src= <%=  "#{@syndic.photo}" %>
      <span class="info-top col">
        <li>Sexe: <%= @owner.gender %></li>
        <li>Prénom: <%= @owner.first_name %></li>
        <li>Nom de famille: <%= @owner.last_name %></li>
        <li>Age: <%= @owner.birth_date %></li>
        <li>CIN: <%= @owner.card_number %></li>
        <li>GSM: <%= @owner.phone_number %></li>
        <li>Propriétaire depuis: <%= @owner.ownership_date %></li>
        <% if !@owner.photo.key.nil? %>
          <%= cl_image_tag @owner.photo.key, class: "img-fluid img-responsive rounded product-image" %>
        <% else %>
          <%= image_tag "https://img.freepik.com/vecteurs-premium/profil-personnage-dessin-anime-avatar-homme-affaires_18591-50581.jpg?w=2000" %>
        <% end %>
        <div class="info-bottom col-8 search-btns">
        </div>
      </span>
    </div>
    <%= link_to "Modifier", edit_owner_path(@owner.id), class: "" %>
  </div>


    </div>
</div>
</div>
</div>
