   <div class="menu-btn">
     <i class="fas fa-bars"></i>
   </div>
   <div class="side-bar">
     <header>
     <div class="close-btn">
       <i class="fas fa-times"></i>
     </div>
     <%= image_tag "logowhite.png" %>
        </header>
     <div class="menu">
       <div class="item">
       <%= link_to dashboard_path(current_user.syndic,coproperty) do %>
       <i class="fas fa-desktop"></i>
       Tableau de Bord
       <% end %>
       </div>

       <div class="item">
         <a class="sub-btn"><i class="fa-solid fa-house"></i>Ma Copropriété<i class="fas fa-angle-right dropdown"></i></a>
         <div class="sub-menu">
          <%= link_to syndic_coproperty_properties_path(current_user.syndic,coproperty), class: "sub-item" do %>
            Mes Propriétés
          <% end %>

          <%= link_to syndic_coproperty_owners_path(current_user.syndic,coproperty), class: "sub-item" do %>
            Mes Résidents
          <% end %>

         </div>
       </div>
       <div class="item">
         <a class="sub-btn"><i class="fa-solid fa-message"></i>Communication<i class="fas fa-angle-right dropdown"></i></a>
         <div class="sub-menu">
          <%= link_to syndic_coproperty_requests_path(current_user.syndic,coproperty), class: "sub-item" do %>
            Mes Requêtes
          <% end %>
           <%= link_to syndic_coproperty_messages_path(current_user.syndic,coproperty), class: "sub-item" do %>
            Chatroom
          <% end %>
         </div>
       </div>
       <div class="item">
         <a class="sub-btn"><i class="fa-solid fa-coins"></i>Mes Finances<i class="fas fa-angle-right dropdown"></i></a>
         <div class="sub-menu">
           <%= link_to syndic_coproperty_budgets_path(current_user.syndic,coproperty), class: "sub-item" do %>
            Mes Budgets
          <% end %>
           <%= link_to syndic_coproperty_expenses_path(current_user.syndic,coproperty), class: "sub-item" do %>
            Mes Frais
          <% end %>
           <%= link_to syndic_coproperty_payments_path(current_user.syndic,coproperty), class: "sub-item" do %>
            Mes Paiements
          <% end %>
         </div>
       </div>
       <div class="item">
          <%= link_to destroy_user_session_path, class: "log-out",  data: {turbo_method: :delete} do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion </a>
          <% end %>
        </div>
   </div>
