<div class="card pt-3">
<div class="inline-container p-3">

  <div class="cards-container">
    <div class="map-card barbarian btns search-form flex search-btns">
      <div class="inline-container map-container"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="pk.eyJ1IjoiamloYW5lamlpaSIsImEiOiJjbDhnM2Q4eXowM2Y0M3BwMmM0cGV2a2YzIn0.q-DEG9fibQC0mzodxg2NNQ">
      </div>
      <div class="inline-container search-container ">
        <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :name, input_html: {value: ""}, class: "search-bar" %>
          <%= f.input :category, input_html: {value: ""}, class: "search-bar" %>
          <%= f.input :specie,input_html: {value: ""}, class: "search-bar" %>
          <%= f.submit "Search", class: "search-btn search-btn-main" %>
        <% end %>
      </div>
    </div>
      <%= link_to "New Coproperty", new_syndic_coproperty_path, class: "btn btn-primary" %>
    <% @coproperties.each do |coproperty| %>
      <div class="slide-container">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><strong><%= coproperty.coproperty_name %></strong></h2>
            <li><strong>Number of Properties: </strong><%= coproperty.number_properties %></li>
            <li><strong>Address: </strong><%= coproperty.address %></li>
              <% if current_user.is_syndic? %>
                <%= link_to "Edit", edit_syndic_coproperty_path(current_user.syndic, coproperty), class: "btn btn-primary" %>
                <%= link_to "Delete", syndic_coproperty_path(current_user.syndic, coproperty), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
                <%= link_to "Open", syndic_coproperty_path(current_user.syndic, coproperty.id), class: "btn btn-success"  %>
              <% else %>
                <%= link_to "Open", owner_coproperty_path(current_user.owner, coproperty.id), class: "btn btn-primary"  %>
              <% end %>
            </div>
        </div>
      </div>
      <br>
            <%# <%= link_to "More about", coproperty_path(coproperty.id), class: "bttn btn-main" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
