
Bonjour <%= current_user.syndic.syndic_name %> !
<div class="container map-container">
      <%= link_to "Ajouter une copropriété", new_syndic_coproperty_path, class: "btn btn-primary" %>
</div>

<div class="container p-0 rounded red-border">
  <div class="flex-tabs cop-card-section">
   <div class="flex-tab">
      <% @coproperties.each do |coproperty| %>
            <div class="row p-2 border cop-card"
                  data-controller="coproperty-info"
                  data-coproperty-info-cop-id-value="<%= coproperty.id %>"
                  <%# data-coproperty-info-target="copInfo" %>
                  data-action="click->coproperty-info#selected"
                  >

              <div class="col-md-3 mt-1 cop-img">
                <%= cl_image_tag coproperty.photo.key, class: "img-fluid img-responsive rounded product-image" %>
              </div>
              <div class="col-md-6 mt-1">
                <h5><strong><%= coproperty.coproperty_name %></strong></h5>
                <div class="d-flex flex-row">
                  <%# maybe used later %>
                </div>
                <div class="mx-1 spec-1"><strong>coproperties id: </strong><%= coproperty.id %></div>
                <div class="mx-1 spec-1"><strong>Nombre de Propriétés: </strong><%= coproperty.number_properties %></div>
                <p class="text-justify text-truncate para mb-0">Adresse: <%= coproperty.address %><br><br></p>
              </div>
              <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                <div class="d-flex flex-row align-items-center">
                  <h6 class="mr-1">Area: <%= coproperty.coprop_private_area + coproperty.coprop_common_area %>m²</h6>
                </div>
                <h6 class="text-success">paid</h6>
                <div class="d-flex flex-column mt-4">
                  <button class="btn btn-outline-primary btn-sm mt-2" type="button">access details</button>
                </div>
                <% if current_user.is_syndic? %>
                  <%= link_to "Edit", edit_syndic_coproperty_path(current_user.syndic, coproperty), class: "btn btn-primary" %>
                  <%= link_to "Delete", syndic_coproperty_path(current_user.syndic, coproperty), data: {turbo_method: :delete, turbo_confirm: 'êtes-vous sur de vouloir supprimer cette copropriété?'}, class: "btn btn-danger" %>
                  <%= link_to "Open", syndic_coproperty_path(current_user.syndic, coproperty.id), class: "btn btn-success"  %>
                <% else %>
                  <%= link_to "Open", owner_coproperty_path(current_user.owner, coproperty.id), class: "btn btn-primary"  %>
                <% end %>
              </div>
            </div>

      <% end %>
   </div>

   <div class="flex-tab cop-inf-section">
      <%= render "layouts/property_info" %>
   </div>
  </div>
</div>

 <%= link_to destroy_user_session_path, class: "nav_link",  data: {turbo_method: :delete} do %>
        <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Déconnexion</span>
        <% end %>
