<div class="container content-view">
  <%= @coproperty.coproperty_name %>
  <%# Budget card %>
  <div class="col-xl-3 col-sm-6 col-12">
    <%# <div class="d-flex justify-content-between flex-wrap"></div> %>
    <div class="card shadow border-0">
      <div class="card-body">
          <div class="row">
              <div class="col">
                <span class="h5 font-bolder text-muted text-sm d-block mb-2">Budget</span>
                <span class="h3 font-bold mb-5">$<%= @budget.budget_amount %></span>
                <span class="h6 font-semibold text-muted text-sm d-block my-2">Statut:&nbsp;<%= @budget.budget_status %></span>
                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Type:&nbsp;<%= @budget.budget_type %></span>

            </div>
            <div class="col-auto">
                <div class="icon icon-shape budget text-white text-lg rounded-circle">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
            </div>
        </div>
        <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="fa-solid fa-check"></i>
            </span>
            <span class="text-nowrap text-xs text-muted">sur la cible</span>
        </div>
      </div>
    </div>
  </div>
  <%# /Budget Card %>
  <%# Expenses Card %>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0">
      <div class="card-body">
          <div class="row">
              <div class="col">
                <span class="h5 font-bolder text-muted text-sm d-block mb-2">Expenses</span>
                <span class="h3 font-bold mb-5">$<%= @expenses.expense_amount %></span>
                <span class="h6 font-semibold text-muted text-sm d-block my-2">Statut:&nbsp;<%= %></span>

            </div>
            <div class="col-auto">
                <div class="icon icon-shape expenses text-white text-lg rounded-circle">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
            </div>
        </div>
        <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="fa-solid fa-check"></i>
            </span>
            <span class="text-nowrap text-xs text-muted">done</span>
        </div>
      </div>
    </div>
  </div>
  <%# /Expenses Card %>

</div>
