<div class="card pt-3">
<div class="inline-container p-3">
    <h2>Budgets</h2>
    <% @budgets.each do |budget| %>
      <div class="slide-container">
        <div class="wrapper">
          <div class="clash-card barbarian btns">
            <div class="clash-card__image clash-card__image--barbarian">
            </div>
            <div class="clash-card__level clash-card__level--barbarian"><%= budget.budget_title %></div>
            <div class="clash-card__unit-name">Montant Initial : <%= budget.budget_amount.to_i %> MAD</div>
            <div class="clash-card__unit-name">Statut : <%= budget.budget_status %></div>
            <div class="clash-card__unit-description">
            </div>
            <%= link_to "Détails", syndic_coproperty_budget_path(current_user.syndic,budget.coproperty,budget.id), class: "bttn btn-main" %>
          </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Nouveau", new_syndic_coproperty_budget_path(current_user.syndic, @coproperty) %>
</div>


     <table id="my-table">
        <tr>
          <th>Titre</th>
          <th>Montant (dhs)</th>
          <th>Type</th>
          <th>Date de Début</th>
          <th>Date de Fin</th>
          <th>Statut</th>
        </tr>
        <tr>
          <td class="fw-medium"> <%= budget.budget_title %> </td>
          <td><%= budget.budget_amount.to_i %></td>
          <td><%= budget.budget_type %></td>
          <td><%= budget.budget_start_date %></td>
          <td><%= budget.budget_end_date %></td>
          <td><span class="badge green"><%= budget.budget_status %></span></td>
        </tr>
      </table>
