<div class="container pt-3">
<%= link_to "Nouveau Budget", new_syndic_coproperty_budget_path(current_user.syndic, @coproperty), class: "btn btn-primary fw-semibold", style: "float: right;" %>
<table id="my-table">
    <tr>
      <th>Titre</th>
      <th>Montant (dhs)</th>
      <th>Type</th>
      <th>Date de Début</th>
      <th>Date de Fin</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  <% @budgets.each do |budget| %>
  <% status = budget.budget_status == "Proposé" ? "blue" : budget.budget_status == "Validé" ? "green" : "red" %>
    <tr>
      <td class="fw-medium"> <%= budget.budget_title %> </td>
      <td><%= budget.budget_amount.to_i %></td>
      <td><%= budget.budget_type %></td>
      <td><%= budget.budget_start_date %></td>
      <td><%= budget.budget_end_date %></td>
      <td><span class="badge <%= status %>"><%= budget.budget_status %></span></td>
      <%# IF WE WANT TO ADD ICON TO CELL : %>
      <%# <td><i class="fa-solid fa-pen-to-square "></i><span class="badge <%= status %>
      <td class= "text-center">
        <%= link_to syndic_coproperty_budget_path(current_user.syndic,budget.coproperty,budget.id) do %>
          <i class="fa-solid fa-pen-to-square "></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>
