<%# <%= render "layouts/navbar" %>
<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <span class="info-top col">
        <h1><%= @budget.budget_title %></h1>
        <h3>Date de Début : <%= @budget.budget_start_date %></h3>
        <h3>Date de Fin : <%= @budget.budget_end_date %></h3>
        <h3>Montant Initial : <%= @budget.budget_amount %> MAD</h3>
        <h3>Type de Budget : <%= @budget.budget_type %></h3>
        <h3>Statut du Budget : <%= @budget.budget_status %></h3>
        <div class="info-bottom col-8 search-btns">
        </div>
        <h2>Documents</h2>
        <% @budget.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "Pièce justificative de #{@budget.budget_title}"%>
        <% end %>
      </span>
    </div>
  </div>
      <%= link_to "Modifier", edit_budget_path(@budget.id), class: "" %>
      <%= link_to 'Back', root_path %>
    </div>
</div>
</div>
</div>

<%# <%= render "layouts/footer" %>





</div>
