<% if @property.owner.nil? %>
  <div class="card copy-card shadow mx-5 p-3">
    <h6 class="mb-3"> Lien à envoyer au propriétaire</h6>
    <div id="copy-section" class="input-group" data-controller="clipboard" data-clipboard-feedback-text-value="Copié !">
      <input class="form-control clipboard-input" data-clipboard-target="input" type="text" value="<%=  link_path(Link.last) %>" readonly>
      <div class="input-group-append">
        <button class="btn btn-primary clipboard-button" data-action="click->clipboard#copy">Copier le lien</button>
      </div>
    </div>
    <p class="p-2 mb-0 mt-2">
      - Copiez ce lien et partagez le avec le propriétaire de cette propriété <br>
      - Grâce à ce lien, le propriétaire pourra créer son compte et rejoindre l'espace de la copropriété sur Cojari <br>
      - Veuillez noter que ce lien est à utilisation unique par propriété <br>
    </p>
  </div>
<% else %>
  <div class="card copy-card shadow mx-5 p-3 px-5 d-flex flex-row justify-content-evenly">
    <div style="margin-left: -16px !important;">
      <% if @property.owner && !@property.owner.photo.key.nil? %>
        <%= cl_image_tag @property.owner.photo.key, class: "rounded-circle shadow-1-strong owner-md-img" %>
      <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80", class: "owner-md-img rounded-circle shadow-1-strong" %>
      <% end %>
    </div>
    <div class="ms-4 notification-content">
      <% if !@property.owner.nil? %>
        <span class="ms-3"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<strong><%= @property.owner.full_name %></strong></span>
      <% else %>
        <span class="ms-3">Aucun propriétaire</span>
      <% end %>
      <ul class="list-unstyled mt-2 ms-3">
        <li><i class="fa-solid fa-genderless"></i>&nbsp;&nbsp; <%= @property.owner.gender %></li>
        <li><i class="fa-solid fa-cake-candles"></i>&nbsp; <%= @property.owner.birth_date %></li>
        <li><i class="fa-solid fa-phone"></i>&nbsp; <%= @property.owner.phone_number %></li>
        <li><i class="fa-solid fa-envelope"></i>&nbsp; <%= @property.owner.user.email %></li>
        <li><i class="fa-solid fa-id-card"></i>&nbsp; <%= @property.owner.card_number %></li>
        <li><i class="fa-solid fa-hourglass-start"></i> &nbsp;Propriétaire depuis: <%= @property.owner.ownership_date %></li>
      </ul>
    </div>
  </div>
<% end %>
