<div class="container d-flex justify-content-center flex-column" style="max-width: 864px;">
  <div style="">
    <div class="card p-relative property-card mx-5 mt-5 shadow">
      <div class="p-absolute p-3 close-btn" data-action="click->popup-window#hidePopup">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-5 p-relative prop-img">
          <div class="p-absolute dots-menu blur d-none" data-coproperty-card-target="dropDown" data-action="mouseout->coproperty-card#toggleMenu">
            <% if current_user.is_syndic? %>
            <% end %>
          </div>
          <%# three dots %>
          <div class="p-absolute three-dots blur d-none" data-action="click->coproperty-card#toggleMenu" data-coproperty-card-target="dots">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
          <%# %>
          <%= image_tag "https://source.unsplash.com/random/?living,room", class: "product-image img" %>
        </div>
        <div class="p-absolute gradient lite-blur d-flex flex-direction-row">
          <div class="btn-settings my-2"><i class="fa-solid fa-pen-to-square"></i></div>
          <div class="btn-settings ms-3 my-2"><i class="fa-solid fa-trash"></i></div>
        </div>
        <div class="col-sm-7 info">
          <div class="card-body">
            <div class="h1 card-title title text-left mb-4">Propriété N°: </strong><%= @property.property_number %></div>
            <div class="h5 card-text"><strong>Etage : </strong><%= @property.floor %></div>
            <div class="h5 card-text"><strong>Superficie totale : </strong><%= @property.total_property_area %>&nbsp;m²</div>
            <div class="h5 card-text"><strong>Fréquence de Paiement : </strong><%= @property.payment_frequency %></div>
          </div>
        </div>
      </div>
    </div>
    </div>
      <% if current_user.is_syndic? %>
        <%= render "show_syndic" %>
      <% else %>
        <%= render "show_owner" %>
      <% end %>
    <div>
  </div>
</div>
