<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <span class="info-top col">

      <% @property.requests.each do |request| %>
        <h3><%= request.request_title %></h3>
         <p>Message: <%= request.message %></p>
         <p>Date de la requête: <%= request.request_date %></p>
         <p>Statut: <%= request.request_status %></p>
        <div class="info-bottom col-8 search-btns">
        </div>
      </span>
        <p>Documents: </p>
        <% request.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "Pièce justificative de #{request.object}"%>
        <% end %>
        <%= link_to "Update", edit_owner_coproperty_property_request_path(current_user.owner,@property.coproperty,@property,request), class: "" %>
      <% end %>
    </div>
  </div>

      <%= link_to "New request", new_owner_coproperty_property_request_path(current_user.owner,@property.coproperty,@property), class: "" %>
      <%= link_to 'Back', owner_coproperty_path %>
    </div>
</div>
</div>
</div>
