<div class="d-flex justify-content-center">
      <div style="width: 45%; margin: 2rem;">
        <div class="card p-relative property-card mx-5 mt-5 shadow">
            <div class="p-absolute p-3 close-btn" data-action="click->popup-window#hidePopup">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-5 p-relative">
                  <div class="p-absolute dots-menu blur d-none"
                      data-coproperty-card-target="dropDown"
                      data-action="mouseout->coproperty-card#toggleMenu"
                      >
                  <% if current_user.is_syndic? %>
                  <% end %>
                  </div>
                  <%# three dots %>
                  <div class="p-absolute three-dots blur d-none"
                        data-action="click->coproperty-card#toggleMenu"
                        data-coproperty-card-target="dots">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div>
                  <%# %>
                  <%= image_tag "https://source.unsplash.com/random/?living,room", class: "w-100 product-image img" %>
                </div>
                <div class="p-absolute gradient lite-blur">
                  <% if @property.owner && !@property.owner.photo.key.nil? %>
                    <%= cl_image_tag @property.owner.photo.key, class: "rounded-circle shadow-1-strong owner-sm-img", width:"150", height:"150" %>
                  <% else %>
                    <%= image_tag "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80", class: "rounded-circle shadow-1-strong owner-sm-img", width:"150", height:"150" %>
                  <% end %>
                  <% if @property.owner && !@property.owner.photo.key.nil? %>
                    <span class="ms-2"><%= @property.owner.first_name %>&nbsp;<%= @property.owner.last_name %></span>
                  <% else %>
                    <span class="ms-2">Property owner</span>
                  <% end %>
                </div>
                <div class="col-sm-7 info">
                    <div class="card-body">
                        <div class="h1 card-title title text-left mb-4">Propriété N°: </strong><%= @property.property_number %></div>
                        <div class="h5 card-text"><strong>Name: </strong><%= @property.building %></div>
                        <div class="h5 card-text"><strong>Etage: </strong><%= @property.floor %></div>
                        <div class="h5 card-text"><strong>Superficie: </strong><%= @property.total_property_area %>&nbsp;m²</div>
                        <% if !@property.owner.nil? %>
                          <div class="h7 card-text mb-3"><strong>Owner: </strong><%= @property.owner.full_name %> </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div >
          <% if current_user.is_syndic? %>
            <%= render "show_syndic" %>
          <% else %>
            <%= render "show_owner" %>
          <% end %>
        </div>
      </div>
</div>
