<%# <%= render "layouts/navbar" %>
<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <span class="info-top col">
        <h1><%= @request.request_title %></h1>
        <p>Date : <%= @request.request_date %></p>
        <p>Message : <%= @request.message %></p>
         <p>Statut : <%= @request.request_status %></p>
        <div class="info-bottom col-8 search-btns">
        </div>
      </span>
        <h2>Documents</h2>
        <% @request.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "Pièce justificative de #{@request.object}"%>
        <% end %>
    </div>
  </div>

      <%= link_to "Update", edit_owner_coproperty_property_request(current_user.owner, @coproperty, @property,@request), class: "" %>
      <%= link_to 'Back', root_path %>
    </div>
</div>
</div>
</div>

<%# <%= render "layouts/footer" %>





</div>
