
<div class="container content-view mt-1"
      data-controller="charts-js profile-popup">
  <%# profile container %>
  <div class="p-absolute profile-popup d-none"
        data-profile-popup-target="profileContainer">
    <% @syndic = current_user.syndic %>
    <% @coproperties = current_user.syndic.coproperties %>
    <%= render "syndics/show" %>
  </div>
  <%# top container %>
  <div class="container map-container mx-2 my-4 d-flex justify-content-between align-items-center ">
    <div>
      <h1 class="fw-semibold text-left fade-font property-title">
        <%= @coproperty.coproperty_name %>
      </h1>
      <span class="h6 font-bolder text-muted"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;<%= @coproperty.address %></span>
      <span class="h6 font-bolder text-muted  mb-4">&nbsp;&nbsp;<i class="fa-solid fa-chart-area"></i>&nbsp;&nbsp;<%= @coproperty.coprop_private_area + @coproperty.coprop_private_area %>&nbsp;m²</span>

    </div>
    <div class="profile-div ">
    <div class=" w-auto m-4 "
          data-action="click->profile-popup#toggleProfile">
      <%= image_tag 'syndic', class: "rounded-circle shadow-1-strong small-profile mt-0", width:"150", height:"150" %>
    </div>
    </div>
  </div>
  <%# ChartJS %>
  <div  class="d-flex justify-content-start">

    <div class="card bar shadow border-0 p-3 p-relative">
      <h3 class="ms-2">Bar Chart</h3>
      <canvas class="chart" id="barChart"></canvas>
    </div>

    <div class="card pie shadow border-0 ms-4 p-3 p-relative">
      <h3 class="ms-2">Pie Chart</h3>
      <canvas class="chart" id="pieChart"></canvas>
    </div>
  </div>
  <%# /ChartJS %>

  <div class="d-flex"
        data-controller="dashboard">
  <%# Budget card %>
    <div class="card dashboard-var shadow border-0 var-hover"
          data-dashboard-variable-value="budget"
          data-action="click->dashboard#showVar">
        <div class="card-body var-body">
            <div class="row">
              
                <span class="h5 font-bolder text-muted text-sm d-block mb-3">Budget</span>
                <h2 class="font-bold mb-5 fade-font">$<%= @budget ? @budget.budget_amount : 200000 %></h2>

            </div>
            <div class="col-auto">
                <div class="icon icon-shape budget text-white text-lg rounded-circle">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
            </div>
        </div>
      </div>
    </div>

    <%# /Budget Card %>
    <%# Requests Card %>

    <div class="card dashboard-var shadow border-0 ms-4 var-hover"
          data-dashboard-variable-value="request"
          data-action="click->dashboard#showVar">
      <div class="card-body var-body">
          <div class="row">
              <div class="col">
                <span class="h5 font-bolder text-muted text-sm d-block mb-3">Requests</span>
                <span class="h2 font-bold mb-5 fade-font">&nbsp;12</span>
            </div>
            <div class="col-auto">
                <div class="icon icon-shape expenses text-white text-lg rounded-circle">
                    <i class="fa-sharp fa-solid fa-thumbtack"></i>
                </div>
            </div>
        </div>
      </div>
    </div>
    <%# /requests Card %>
    <%# Messages %>
    <div class="card dashboard-var shadow border-0 ms-4 var-hover"
        data-dashboard-variable-value="message"
        data-action="click->dashboard#showVar">
      <div class="card-body var-body">
          <div class="row">
              <div class="col">
                <span class="h5 font-bolder text-muted text-sm d-block mb-3">Messages</span>
                <span class="h2 font-bold mb-5 fade-font">&nbsp;245</span>

            </div>
            <div class="col-auto">
                <div class="icon icon-shape messages text-white text-lg rounded-circle">
                    <i class="fa-solid fa-message"></i>
                </div>
            </div>
        </div>
      </div>
    </div>
    <%# /Messages %>
    <%# Properties %>
    <div class="card dashboard-var shadow border-0 ms-4 var-hover"
          data-dashboard-variable-value="property"
          data-action="click->dashboard#showVar">
      <div class="card-body var-body">
        <div class="row">
            <div class="col">
              <span class="h5 font-bolder text-muted text-sm d-block mb-3">Properties</span>
              <span class="h2 font-bold mb-5 fade-font">&nbsp;24</span>

            </div>
            <div class="col">
              <span class="h5 font-bolder text-muted text-sm d-block mb-3">Owners</span>
              <span class="h2 font-bold mb-5 fade-font">&nbsp;22</span>

            </div>
            <div class="col-auto">
              <div class="icon icon-shape properties text-white text-lg rounded-circle">
                <i class="fa-solid fa-house"></i>
              </div>
            </div>
        </div>
      </div>
    </div>
    <%# /Properties %>
  </div>
  <div class="blur wall d-none"
        data-dashboard-target="blur"></div>
  <% @requests = Request.where(property_id: params[:id]) %>
  <%= render "requests/syndic_index" %>

</div>
