<div class="container pt-3">
 <% if !current_user.is_syndic? %>
    <%= link_to "Nouveau Paiement", new_owner_coproperty_payment_path(current_user.owner, @coproperty), class: "btn btn-primary fw-semibold", style: "float: right;" %>
  <% end %>
<table id="my-table">
    <tr>
      <th>Titre</th>
      <th>Montant (dhs)</th>
      <th>Date de Paiement</th>
      <th>Budget Rattaché</th>
      <th>Propriété</th>
      <th>Propriétaire</th>
      <th>Statut</th>
      <th>Justif</th>
      <% if current_user.is_syndic? %>
        <th>Actions</th>
      <% end %>
    </tr>
  <% @payments.each do |payment| %>
  <% status = payment.payment_status == "Déclaré" ? "blue" : "green" %>
    <tr>
      <td class="fw-medium"> <%= payment.payment_title %> </td>
      <td><%= payment.payment_amount.to_i %></td>
      <td><%= payment.payment_date %></td>
      <td><%= payment.budget.budget_title %></td>
      <td><%= payment.property.property_number %></td>
      <td><%= payment.property.owner.full_name %></td>
      <td><span class="badge <%= status %>"><%= payment.payment_status %></span></td>
            <td class= "text-center">
      <% if payment.photos.count != 0 %>
        <%= link_to payment.photos.first do %>
          <i class="fa-solid fa-file"></i>
        <% end %>
      <% else %>
        <%= link_to "https://res.cloudinary.com/dn7adx3jz/image/upload/v1668254767/justif_virement_fqqfkq.png" do %>
          <i class="fa-solid fa-file"></i>
        <% end %>
      <% end %>
      <td class= "text-center">
      <% if current_user.is_syndic? %>
        <%= link_to edit_syndic_coproperty_payment_path(current_user.syndic, payment.budget.coproperty,payment.id) do %>
          <i class="fa-solid fa-pen-to-square "></i>
        <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>
