<div class="card pt-3">
<div class="inline-container p-3">
    <% @payments.each do |payment| %>
      <div class="slide-container">
        <%# <div class="wrapper"> %>
          <div class="clash-card barbarian btns">
            <div class="clash-card__image clash-card__image--barbarian">
            </div>
            <div class="clash-card__level clash-card__level--barbarian"><%= payment.payment_title %></div>
            <div class="clash-card__unit-name"> Montant : <%= payment.payment_amount.to_i %> MAD</div>
            <div class="clash-card__unit-name">Date : <%= payment.payment_date %></div>
            <div class="clash-card__unit-name">Statut : <%= payment.payment_status %></div>
            <div class="clash-card__unit-description">
            </div>
            <%= link_to "Détails", syndic_coproperty_payment_path(current_user.syndic, payment.budget.coproperty,payment.id), class: "bttn btn-main" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
