<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <span class="info-top col">
        <h1><%= @payment.payment_title %></h1>
        <h3>Date : <%= @payment.payment_date %></h3>
        <h3>Montant : <%= @payment.payment_amount.to_i %> MAD</h3>
        <h3>Statut : <%= @payment.payment_status %></h3>
        <h3>Numéro de Propriété : <%= @payment.property.property_number %></h3>
        <h3>Nom de l'habitant : <%= @payment.property.owner.full_name %></h3>
        <div class="info-bottom col-8 search-btns">
        </div>
        <h2>Justificatifs</h2>
        <% @payment.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "Pièce justificative de #{@payment.payment_title}"%>
        <% end %>
      </span>
    </div>
  </div>

      <%= link_to "Modifier", edit_syndic_coproperty_payment_path(@payment.id), class: "" %>
      <%= link_to 'Précédent', syndic_coproperty_payments_path %>
    </div>
</div>
</div>
</div>

<%# <%= render "layouts/footer" %>





</div>
