<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">

        <h2>Complete syndic form</h2>

        <%= simple_form_for @syndic do |f| %>
        <%= f.input :syndic_name %>
        <%= f.input :creation_date %>
        <%# <%= f.input :photo %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
