<div class="container" data-controller="dropdown-menus">
  <div class="blur co-shadow syn-profile">
    <div class="p-4 d-flex justify-content-start align-items-center flex-wrap">
      <div class=" w-auto m-4">
        <img src="https://images.unsplash.com/photo-1635812233312-984aa05cdf06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1960&q=80" class="rounded-circle shadow-1-strong tes-img profile-height" width="150" height="150" />
      </div>
      <div class="information lh-3">
        <h1><%= @syndic.syndic_name %></h1>
        <h5 class="mb-3"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;<%= @syndic.user.email %></h5>
        <h5 class="mb-3"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;<%= @syndic.user.role.to_s %></h5>
        <% counter = 0 %>
        <% @coproperties.each do |coproperty| %>
          <% if coproperty.syndic_id == current_user.id%>
            <% counter += 1 %>
          <% end %>
        <% end %>
        <h5 class="mb-3"><i class="fa-solid fa-building"></i>&nbsp;&nbsp;<span class="fw-semibold"><%= counter %></span> copropriété</h5>
        <div class="p-absolute dots-menu blur d-none" data-dropdown-menus-target="editMenu">
          <%= link_to "Update", edit_syndic_path(@syndic.id), class: "dropdown-item dropdown-button fw-semibold" %>
          <%= link_to "Delete", syndic_path(@syndic.id), data: {turbo_method: :delete, turbo_confirm: 'êtes-vous sur de vouloir supprimer votre profile', class: "dropdown-item dropdown-button fw-semibold" }%>
        </div>
        <div class="p-absolute three-dots blur" data-action="click->dropdown-menus#toggleMenuTwo">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <span><i class="fa-regular fa-calendar-days"></i>&nbsp;&nbsp;<%= @syndic.creation_date %></span>
          <%= link_to destroy_user_session_path do %>
            <i class="fa-solid fa-right-from-bracket"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
