<%# <%= render "layouts/navbar" %>
<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <%# <img src= <%=  "#{@syndic.photo}" %>
      <span class="info-top col">
        <h1><%= @syndic.syndic_name %></h1>
        <h3><%= @syndic.creation_date %></h3>
        <div class="info-bottom col-8 search-btns">
        </div>
      </span>
    </div>
  </div>

      <%= link_to "Delete", syndic_path(@syndic.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "" %>
      <%= link_to "Update", edit_syndic_path(@syndic.id), class: "" %>
      <%# <%= link_to "Déconnexion", destroy_user_session_path %>
    </div>
</div>
</div>
</div>

<%# <%= render "layouts/footer" %>





</div>
