<%= render "layouts/navbar" %>
<div class="card pt-3">
<div class="inline-container p-3">
    <% @expenses.each do |expense| %>
      <div class="slide-container">
        <%# <div class="wrapper"> %>
          <div class="clash-card barbarian btns">
            <div class="clash-card__image clash-card__image--barbarian">
              <img src="<%=expense.photo%>" alt="barbarian" />
            </div>
            <div class="clash-card__level clash-card__level--barbarian"><%= expense.expense_name %></div>
            <div class="clash-card__unit-name"><%= expense.expense_date %></div>
            <div class="clash-card__unit-name"><%= expense.expense_type %></div>
            <div class="clash-card__unit-name"><%= expense.expense_amount %></div>
            <div class="clash-card__unit-name"><%= expense.expense_status %></div>
            <div class="clash-card__unit-description">
            </div>
            <%= link_to "More about", expense_path(expense.id), class: "bttn btn-main" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "layouts/footer" %>
