<%# <%= render "layouts/navbar" %>
<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <%# <img src= <%=  "#{@expense.photo}" %>
      <span class="info-top col">
        <h1><%= @expense.expense_name %></h1>
        <h3><%= @expense.expense_date %></h3>
        <h3><%= @expense.expense_amount %></h3>
        <h3><%= @expense.expense_type %></h3>
         <h3><%= @expense.expense_status %></h3>
        <div class="info-bottom col-8 search-btns">
        </div>
      </span>
    </div>
  </div>

      <%= link_to "Update", edit_expense_path(@expense.id), class: "" %>
    </div>
</div>
</div>
</div>

<%# <%= render "layouts/footer" %>





</div>
