<%# <%= render "layouts/navbar" %>
<div class="m-4 card-border">
  <div class="container info-card card-dem">
    <div class="row">
      <span class="info-top col">
        <h1><%= @expense.expense_name %></h1>
        <%# <%# <h3><%= @expense.expense_date % !! should only be added when status is paid> %>
        <h3>Montant : <%= @expense.expense_amount.to_i %> MAD</h3>
        <h3>Type de Frais : <%= @expense.expense_type %></h3>
         <h3>Statut du Frais : <%= @expense.expense_status %></h3>
        <div class="info-bottom col-8 search-btns">
        </div>
        <h2>Documents</h2>
        <% @expense.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "Pièce justificative de #{@expense.expense_name}"%>
        <% end %>
      </span>
    </div>
  </div>

      <%= link_to "Update", edit_expense_path(@expense.id), class: "" %>
      <%= link_to 'Back', root_path %>
    </div>
</div>
</div>
</div>

<%# <%= render "layouts/footer" %>





</div>
