<!DOCTYPE html>
<html>
  <head>
    <title>Cojari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
  <% if current_page?(root_path) ||
    current_page?(new_user_registration_path) ||
    current_page?(new_user_session_path) ||
    (params["id"] && current_page?(link_path(params["id"]))) ||
    current_page?(new_syndic_path)
    %>
    <div data-controller="navbar" data-action="scroll@window->navbar#fixed">
    <%= render "layouts/navbar" %>
    </div>
  <% elsif current_user && current_user.is_syndic? &&
    (current_page?(syndic_coproperties_path(current_user.syndic)) ||
    current_page?(new_syndic_coproperty_path(current_user.syndic)) ||
    current_page?(syndic_path(current_user.syndic)))%>
    <div id="index-coproperty" data-controller="sidebar">
      <%= render "coproperties/index_sidebar" %>
    </div>
  <% elsif current_user && current_user.is_syndic? %>
    <div id="show-coproperty" data-controller="sidebar">
      <%= render "coproperties/show_sidebar", coproperty: current_user.syndic.coproperties.first %>
    </div>
  <% elsif current_user && !current_user.is_syndic? %>
    <div id="show-owner" data-controller="sidebar">
      <%= render "owners/navbar_owner", coproperty: current_user.owner.coproperties.first %>
    </div>
  <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>

  </body>
</html>
