<!DOCTYPE html>
<html>
  <head>
    <title>Cojari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>

  <body>
  <% if current_page?(root_path) ||
    current_page?(new_user_registration_path) ||
    current_page?(new_user_session_path)
    %>
    <div data-controller="navbar" data-action="scroll@window->navbar#fixed">
    <%= render "layouts/navbar" %>
    </div>
  <% elsif current_page?(syndic_coproperties_path)%>
    <div id="index-coproperty" data-controller="sidebar">
    <%= render "coproperties/index_sidebar" %>
    </div>
  <% else %>
    <div id="show-coproperty" data-controller="sidebar">
    <%= render "coproperties/show_sidebar", coproperty: Coproperty.find(params[:id]) %>
    </div>
  <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>

  </body>
</html>
